<header><h1 class="display-4">Animal Reports</h1></header>
<div id="main-page">
  <div id="map"></div>
  <div>
    <div id="forms">
      <%= render 'form' %>
    </div>
    <div id="animal_report">
      <% @sightings.each do |s| %>
      <%= render "/sightings/sighting", sighting: s %>
      <% end %>
    </div>
  </div>
</div>
