# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 8318573a62deef6f3dd71fa12af3aba247fe3a9e1228992bc2dca594f73534fec5fd32cf92f79b35470b9e251f7c41f445148d5adc1d95fe6c147ba58f2c9464

test:
  secret_key_base: b561a9a1a806f66c8b8a4eff1fc61e35ceee84ef72879e354f4989de59b307b6d52d439f8384c8edc8b039cd1fc01cc8bd236bb7137c85846e82987aabbf4e9b

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
